@import 'base.scss';

.wrapper {
  padding: 35px 30px;
  width: 100%;
  height: 100%;

  @include medium {
    padding: 40px getColumns(1, $bp-medium);
  }

  @include large {
    padding: 40px getColumns(1, $bp-large);
  }
}

.cartIconWrapper {
  position: absolute;
  top: 35px;
  right: 30px;
  display: flex;
  align-items: center;

  @include medium {
    top: 40px;
    right: getColumns(1, $bp-medium);
  }

  @include large {
    right: getColumns(1, $bp-large);
  }
}

.title {
  @include heading;
  width: 100%;
  text-align: center;
  margin: 0 0 35px;

  @include medium {
    margin: 0 0 45px;
  }
}

.products {
  display: flex;
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;

  @include large {
    flex-wrap: nowrap;
  }
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @include large {
    width: getColumns(15, $bp-large);
  }
}
