@import 'base.scss';

.wrapper {
  padding: 35px 30px;
  width: 100%;
  height: 100%;

  @include medium {
    padding: 35px getColumns(1, $bp-medium);
  }

  @include large {
    padding: 35px getColumns(1, $bp-large);
  }
}

.cartIconWrapper {
  position: absolute;
  top: 35px;
  right: 30px;

  @include medium {
    right: getColumns(1, $bp-medium);
  }

  @include large {
    right: getColumns(1, $bp-large);
  }
}

.title {
  width: 100%;
  text-align: center;
  margin: 0 0 35px;

  @include medium {
    margin: 0 0 45px;
  }
}
