@import '../../styles/base';

.wrapper {
  padding: 35px 30px;
  width: 100%;
  height: 100%;

  @include medium {
    // padding: 40px ${getColumns(1, 'medium')}
  }

  @include large {
    // padding: 40px ${getColumns(1, 'large')}
  }
}

.cartLink {
  position: absolute;
  top: 35px;
  right: 30px;
  display: flex;
  align-items: center;

  @include medium {
    top: 40px;
    right: getColumns(1, 'medium');
  }
}

.iconWrapper {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 20px;
  background-color: $color-white;
  transition: background-color 300ms ease-in-out;

  &:hover {
    background-color: $color-gray-dark;
  }
}

.cartQuantity {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: $color-black;
  color: $color-white;
  font-size: 11px;
  font-weight: 700;
  line-height: 0;
  margin-left: -5px;
}

.title {
  @include heading;
  width: 100%;
  text-align: center;
  margin: 0 0 35px;

  @include medium {
    margin: 0 0 45px;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;

  &:after {
    content: '';
    flex: auto;
  }
}
