@use '/src/styles/colors.scss';

.button {
  display: flex;
  align-items: center;
}

.empty {
  margin-right: -5px;
}

.icon {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 20px;
  background-color: colors.$color-white;
  transition: background-color 300ms ease-in-out;

  &:hover {
    background-color: colors.$color-gray;
  }
}

.quantity {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: colors.$color-black;
  color: colors.$color-white;
  font-size: 11px;
  font-weight: 700;
  line-height: 0;
  margin-left: -5px;
}
