@use '/src/styles/breakpoints.scss';
@use '/src/styles/variables.scss';
@use '/src/styles/functions.scss';

.products {
  display: flex;
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;

  @include breakpoints.large {
    flex-wrap: nowrap;
  }
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @include breakpoints.large {
    width: functions.getColumns(15, variables.$bp-large);
  }
}
