@use '/src/styles/colors';
@use '/src/styles/typography';

.button {
  @include typography.price;
  display: inline-block;
  color: colors.$color-white;
  background: colors.$color-black;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;

  &:hover {
    background: colors.$color-gray;
    color: colors.$color-black;
  }

  &:disabled {
    background: colors.$color-gray;
    color: colors.$color-black-35;
  }
}
