@import '../../styles/base.scss';

.button {
  @include price;
  display: inline-block;
  color: $color-white;
  background: $color-black;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;

  &:hover {
    background: $color-gray;
    color: $color-black;
  }

  &:disabled {
    background: $color-gray;
    color: $color-black-35;
  }
}
