@use '/src/styles/colors.scss';
@use '/src/styles/typography.scss';
@use '/src/styles/breakpoints.scss';
@use '/src/styles/variables.scss';
@use '/src/styles/functions.scss';

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: colors.$color-black-35;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  position: relative;
  background-color: colors.$color-white;
  width: functions.getColumns(15, variables.$bp-small);
  height: auto;
  max-height: calc(100vh - 60px);
  display: flex;
  overflow-y: auto;
  flex-direction: column;

  @include breakpoints.medium {
    width: functions.getColumns(14, variables.$bp-medium);
    max-height: calc(100vh - 80px);
  }

  @include breakpoints.large {
    width: functions.getColumns(26, variables.$bp-large);
    flex-direction: row;
    max-height: calc(100vh - 140px);
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: functions.getColumns(1, variables.$bp-small);
  width: 13px;
  height: 13px;

  @include breakpoints.medium {
    top: 45px;
    right: functions.getColumns(1, variables.$bp-medium);
    width: 20px;
    height: 20px;
  }

  @include breakpoints.large {
    right: functions.getColumns(1, variables.$bp-large);
  }
}

.section {
  width: 100%;
  padding: 30px functions.getColumns(1, variables.$bp-small);

  @include breakpoints.medium {
    padding: 45px functions.getColumns(1, variables.$bp-medium);
  }

  @include breakpoints.large {
    padding: 45px functions.getColumns(1, variables.$bp-large);
  }
}

.products {
  @include breakpoints.large {
    overflow-y: auto;
    width: functions.getColumns(17, variables.$bp-large);
  }
}

.productList {
  display: flex;
  flex-direction: column;

  @include breakpoints.medium {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include breakpoints.large {
    width: functions.getColumns(15,variables.$bp-large);
  }
}

.summary {
  background-color: colors.$color-gray;

  @include breakpoints.large {
    width: functions.getColumns(9, variables.$bp-large);
  }
}

.heading {
  @include typography.heading;
  margin-bottom: 25px;

  @include breakpoints.medium {
    margin-bottom: 35px;
  }

  .summary & {
    margin-right: 40px;
  }
}

.summaryRow {
  width: 100%;
  margin-bottom: 20px;

  &:last-child {
    border-top: 1px solid colors.$color-gray-border;
    padding-top: 20px;
  }
}

.summaryItem {
  @include typography.body;
  display: inline-block;
  width: 50%;

  &:nth-child(even) {
    text-align: right;
  }
}

.summaryPrice {
  @include typography.price;
  text-transform: uppercase;
}

.summaryItemBold {
  font-weight: bold;
}

.checkoutBtn {
  width: 100%;
}

.text {
  width: 100%;
  margin: 0;
}

.empty {
  height: 60%;
  min-height: 400px;
  padding: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;

  @include breakpoints.large {
    padding: 0;
    flex-direction: column;
  }
}

.emptyImage {
  margin-bottom: 35px;
  max-width: 100%;
}

.emptyTitle {
  @include typography.heading;
}

.emptyText {
  @include typography.body;
}
