@import 'base.scss';

.wrapper {
  padding: 35px 30px;
  width: 100%;
  height: 100%;

  @include medium {
    padding: 40px getColumns(1, $bp-medium);
  }

  @include large {
    padding: 40px getColumns(1, $bp-large);
  }
}

.title {
  @include heading;
  width: 100%;
  text-align: center;
  margin: 0 0 35px;

  @include medium {
    margin: 0 0 45px;
  }
}

.video {
  width: getColumns(28, $bp-large);
  margin: 0 auto;
}