@use 'variables';

@function getColumns($count, $breakpoint) {
  $colTotal: 15;
  @if $breakpoint == variables.$bp-medium {
    $colTotal: 16;
  } @else if $breakpoint == variables.$bp-large {
    $colTotal: 32;
  }

  @if $breakpoint == variables.$bp-small {
    // 60px = small breakpoint side margins
    @return calc(((100vw - 60px) / #{$colTotal}) * #{$count});
  } @else {
    @return calc((100vw / #{$colTotal}) * #{$count});
  }
}
