@use 'breakpoints.scss';

@mixin heading {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 35px;

  @include breakpoints.medium {
    font-size: 40px;
    line-height: 45px;
  }
}

@mixin body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.25px;
}

@mixin price {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
