$color-black: #000;
$color-black-35: rgba(0, 0, 0, 0.35);
$color-gray-light: #f3f3f3;
$color-gray-dark: #eaeaea;
$color-white: #fff;
$color-orange: #ff5f3d;

$bp-small: 375px;
$bp-medium: 768px;
$bp-large: 1440px;
