@import 'base.scss';

.product {
  margin: 0 0 25px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  @include medium {
  margin: 0 0 40px;
  width: getColumns(6.5, $bp-medium);

    &:last-child {
      margin-left: getColumns(1, $bp-medium);
    }
  }

  @include large {
    width: getColumns(7, $bp-large);

    &:last-child {
      margin-left: getColumns(1, $bp-large);
    }
  }
}

.inCart {
  display: flex;
  align-items: center;

  @include medium {
    flex-wrap: wrap;
    width: getColumns(5.5, $bp-medium);
    align-items: flex-start;

    &:last-child {
      margin-left: 0;
    }
  }

  @include large {
    width: getColumns(7, $bp-large);

    &:last-child {
      margin-left: 0;
    }
  }
}

.featured {
  width: 100%;

  @include large {
    width: getColumns(14, $bp-large);
  }
}

.image {
  width: 100%;

  .inProductLanding & {
    margin-bottom: 10px;
  }

  .inCart & {
    flex-shrink: 0;
    width: getColumns(6, $bp-small);

    @include medium {
      margin-bottom: 10px;
      width: 100%;
    }
  }
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .inCart & {
    width: 50%;
    margin-left: getColumns(1, $bp-small);
    flex-direction: column;
    flex-wrap: wrap;

    @include medium {
      width: 100%;
      flex-direction: row;
      align-items: center;
      margin-left: 0;
    }

    @include large {
      flex-wrap: nowrap;
    }
  }
}

.text {
  .inCart & {
    margin-bottom: 20px;

    @include large {
      margin-bottom: 0;
    }
  }
}

.title {
  @include body;
  font-weight: normal;
}

.price {
  @include price;
}

.addButton {
  flex-shrink: 0;
  align-self: flex-start;
  margin-top: 4px;
}
