@import 'base.scss';

.product {
  margin: 0 0 25px;
  width: 100%;

  @include medium {
    margin: 0 0 40px;
    width: getColumns(6.5, $bp-medium);

    &:last-child {
      margin-left: getColumns(1, $bp-medium);
    }
  }

  @include large {
    width: getColumns(7, $bp-large);

    &:last-child {
      margin-left: getColumns(1, $bp-large);
    }
  }
}

.inCart {
  display: flex;
  align-items: flex-start;

  &:last-child {
    margin-bottom: 0;
  }

  @include medium {
    flex-wrap: wrap;
    width: getColumns(5.5, $bp-medium);

    &:last-child {
      margin-left: 0;
    }

    &:nth-last-child(2):nth-child(odd) {
      margin-bottom: 0;
    }
  }

  @include large {
    width: getColumns(7, $bp-large);

    &:last-child {
      margin-left: 0;
    }
  }
}

.featured {
  width: 100%;

  @include large {
    width: getColumns(14, $bp-large);
  }
}

.image {
  width: 100%;

  .inProductLanding & {
    margin-bottom: 10px;
  }

  .featured & {
    @include small-only {
      // Modern browsers see a more optimal crop on mobile
      height: getColumns(15 * 445/315, $bp-small);
      object-fit: cover;
    }
  }

  .inCart & {
    flex-shrink: 0;
    width: getColumns(6, $bp-small);

    @include medium {
      margin-bottom: 15px;
      width: 100%;
    }
  }
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .inCart & {
    width: 50%;
    margin-top: 4px;
    margin-left: getColumns(1, $bp-small);
    flex-direction: column;
    flex-wrap: wrap;

    @include medium {
      width: 100%;
      flex-direction: row;
      align-items: center;
      margin-top: 0;
      margin-left: 0;
      flex-wrap: nowrap;
    }
  }
}

.text {
  min-width: 0;

  .inCart & {
    width: 100%;
    margin-bottom: 20px;

    @include medium {
      margin-bottom: 0;
    }
  }
}

.title {
  @include body;
  margin-right: 20px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  @include price;
  display: block;
  margin-top: -3px;
}

.addButton {
  flex-shrink: 0;
  align-self: flex-start;
}
