@import 'base.scss';

$buttonWidth: 38px;

.quantity {
  @include price;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  flex-shrink: 0;

  &:before,
  &:after {
    content: '';
    width: calc(100% - (#{$buttonWidth} * 2));
    height: 1px;
    position: absolute;
    left: $buttonWidth;
    background: $color-gray-light;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

.button {
  @include smooth(background);
  background: $color-gray-light;
  width: $buttonWidth;
  height: 40px;
  font-size: 20px;
  line-height: 0;
  cursor: pointer;

  &:hover {
    background: $color-gray-dark;
  }
}

.left {
  border-radius: 20px 0 0 20px;
}

.right {
  border-radius: 0 20px 20px 0;
}
