@use '/src/styles/colors';
@use '/src/styles/typography';

$buttonWidth: 38px;

.quantity {
  @include typography.price;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  flex-shrink: 0;

  &:before,
  &:after {
    content: '';
    width: calc(100% - (#{$buttonWidth} * 2));
    height: 1px;
    position: absolute;
    left: $buttonWidth;
    background: colors.$color-gray;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

.button {
  background: colors.$color-gray;
  width: $buttonWidth;
  height: 40px;
  font-size: 20px;
  line-height: 0;
  cursor: pointer;
}

.left {
  border-radius: 20px 0 0 20px;
}

.right {
  border-radius: 0 20px 20px 0;
}
